<footer class="page-footer font-small pt-3">
     <div class="container-fluid text-center text-md-left" style="background-color: rgb(25,25,25);">
          <div class="row">
               <div class="col-md-6 mt-md-0 mt-3">
                    <a href="Home#home"><h5 class="text-center">Patria<br>"SweetDreams"</h5></a>
               </div>
               <hr class="clearfix w-100 d-md-none pb-3">
               <div class="col-md-3 mb-md-0 mb-3">

                    <ul class="list-unstyled">
                         <li>
                              <a href="Home#filmes" style="text-decoration: underline">Фильмы</a>
                         </li>
                         <li>
                              <a href="#!" style="text-decoration: underline">Новости</a>
                         </li>
                         <li>
                              <a href="AboutUs" style="text-decoration: underline">Наш кинотеатр</a>
                         </li>
                    </ul>
               </div>
               <div class="col-md-3 mb-md-0 mb-3">
                    <ul class="list-unstyled">
                         <li>
                              <a href="#!" style="text-decoration: underline">Бронь по телефону</a>
                         </li>
                         <li>
                              <a href="#!" style="text-decoration: underline">Контакты</a>
                         </li>
                         <li>
                              <a href="#!" style="text-decoration: underline">Цены на билеты</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
     <div class="footer-copyright text-center py-3" style="background-color:#191919;">
          © 2020 Все права защищены
     </div>
</footer>