@{
     Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
     ViewBag.Title = "О нас";
}
@section Styles{
@Styles.Render("~/bundles/AboutUs/css")
}
          <div class="container-fluid " id="cf">
               <div class="container" style="padding-top:60px">
                    <p style="color: #d3d3d3"> <a href="Home#home" style="color:#FFBD0F;text-decoration: underline; padding-left: 3px">Главная </a> > Наш Кинотеатр </p>
                    <div class="news-one">
                         <h2>Наш кинотеатр</h2>
                    </div>
                    <section id="examples">
                         <div class="row">
                              <div class="col-lg-5 col-md-12">
                                   <div class="row">
                                        <div class="kino-left col-12">
                                             <img src="img\kinoteatr.jpg" alt="Not found" style="min-width: 400px; max-width: 400px; margin-right: 30px">
                                        </div>
                                        <div class="col-12" style="color:#8A8A8A">
                                             <p> PATRIA «SweetDreams» является самым большим кинотеатром Республики Молдова . Общее количество мест – 908. Шесть залов мультиплекса, оснащены современным кинооборудованием от всемирно известных компаний: BARCO, JBL, DOLBY, HARKNESS, а также комфортабельными и стильными зрительскими креслами, с подъемными подлокотниками и качающимися спинками от компании MOBILLIARIO. Показ фильмов в кинотеатре осуществляется в цифровых форматах 2D, 3D и IMAX 3D.</p>

                                        </div>
                                   </div>
                              </div>
                              <div class="col-lg-7 col-md-12">
                                   <div class="row">
                                        <div class="col-12">
                                             <div id="map-container-google-1" class="z-depth-1-half map-container">
                                                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d962.2395301072047!2d28.869107735061405!3d46.988711767804624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1582467707708!5m2!1sen!2s" frameborder="0" style="border:0; height: 266.5px; width: 100%;" allowfullscreen></iframe>
                                                  <div class="col-12 white-text">
                                                       <div class="flex-row">
                                                            <div class="contacts" style="padding-top: 5px">Телефоны</div>
                                                            <ul style="list-style-type: none">
                                                                 <li class="strong">
                                                                      Расписание:  0 (22) 223456
                                                                 </li>
                                                                 <li class="strong">
                                                                      Бронирование:  0 (22) 223456
                                                                 </li>
                                                                 <li class="strong">
                                                                      Администратор:  0 (22) 223566
                                                                 </li>
                                                            </ul>
                                                       </div>
                                                  </div>
                                                  <div class="col-12">
                                                       <div class="contacts">Адрес</div>
                                                       <ul style="list-style-type: none">
                                                            <li class="strong">
                                                                 Куза Водэ 11,МД-2060,Кишинев, Молдова
                                                            </li>
                                                       </ul>
                                                       <div class="contacts">Почта</div>
                                                       <ul style="list-style-type: none">
                                                            <li class="strong">
                                                                 swdreams@patria.org
                                                            </li>
                                                       </ul>
                                                       <div class="contacts">Количество залов</div>
                                                       <ul style="list-style-type: none">
                                                            <li class="strong">
                                                                 8
                                                            </li>
                                                       </ul>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </section>
               </div>
          </div>
 

